@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

@* <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <dic class="text-center">

                </dic>
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">You have successfully logged out of the application</span>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="text-center">
                    <i class="bi bi-check-circle-fill text-success fs-1"></i>
                </div>
                <div class="text-center mt-3">
                    <span class="text-danger fw-bold">
                        You have successfully logged out of the application
                    </span>
                </div>
                <div class="text-center mt-4">
                    <a href="/" class="btn btn-primary">
                        Go to Home Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }

}
